/VideoPlayer/.vs
/VideoPlayer/.vs/VideoPlayer/v16/.suo
/VideoPlayer/.vs/VideoPlayer/v16/Browse.VC.db
/VideoPlayer/VideoPlayer/VideoPlayer.vcxproj.user
/VideoPlayer/Debug
/VideoPlayer/VideoPlayer/Debug
/VideoPlayer/VideoClient/Debug
/VideoPlayer/VideoClient/远程控制.mp4
