/VideoPlayer/.vs
/VideoPlayer/.vs/VideoPlayer/v16/.suo
/VideoPlayer/.vs/VideoPlayer/v16/Browse.VC.db
/VideoPlayer/VideoPlayer/VideoPlayer.vcxproj.user
/VideoPlayer/Debug
/VideoPlayer/VideoPlayer/Debug
/VideoPlayer/VideoClient/Debug
/VideoPlayer/VideoClient/远程控制.mp4
/RemoteCtrl/.vs/RemoteCtrl/v16/ipch
/RemoteCtrl/.vs/RemoteCtrl/v16
/RemoteCtrl/Debug
/RemoteCtrl/RemoteClient/Debug
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/RemoteCtrl/Debug
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteCtrl/test2022.BMP
